body {
  margin: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:sandybrown;
  font-family: fantasy;
  
}

code {
  font-family: fantasy;
}